.main-select {
  position: relative;
  width: 362px;
  margin: 0 auto;
  text-align: center;
}

.select-block {
  position: relative;
  border: 1px solid black;
  margin: 5px;
  text-align: left;
  padding-left: 58px;
}

.select-block > svg {
  position: absolute;
  left: 21px;
  top: 19px;
}

.button-select {
  position: absolute;
  right: 5px;
  margin-top: 29px;
  width: 95px;
  height: 38px;
  background:#376FDB;
  border: none;
  color: #FFF;
  border-radius: 4px;
}
.button-select::after {
  content: '';
  border-top: 1px black solid;
  border-right: 1px black solid ;
}
