
body {
  margin: 0;
  padding: 0;
}

.filmList {
  text-align: center;
}

.title {
  margin: 0;
  font-size: 50px;
  text-shadow: 30px 10px 10px;
}

.allPosters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.poster {
  list-style-type: none;
  text-align: center;
  position: relative;
}

.poster-title-light {
  font-size: 20px;
  color: rgb(197, 0, 0);
}

.poster-title-dark {
  font-size: 20px;
  color: white;
}

.poster-txt-light {
  color: blue;
  margin: 20px auto;
  width: 300px;
}

.poster-txt-dark {
  color: white;
  margin: 20px auto;
  width: 300px;


}


.poster > img {
  border-radius: 20px;
  cursor: pointer;
}

.toggleFilms {
  font-size: 20px;
  cursor: pointer;
  color:darkgoldenrod;
  font-weight: bold;
}

.rateFilm-light {
  position: absolute;
  font-size: 15px;
  left: 0;
  right: 0;
  top: 30px;
  color: #000;
}
.rateFilm-dark {
  position: absolute;
  font-size: 15px;
  left: 0;
  right: 0;
  top: 30px;
  color: rgb(255, 255, 255);
}

.pagination > h4{
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.pagination-btn_light {
  background: none;
  border: 1px solid black;
  border-radius: 50px;
  height: 30px;
  margin: 0 20px;
  width: 150px;
  cursor: pointer;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: navy;
}

.pagination-btn_dark {
  background: white;
  border: 1px solid black;
  border-radius: 50px;
  height: 30px;
  margin: 0 20px;
  width: 150px;
  cursor: pointer;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: navy;
}

button:disabled {
  color: rgb(56, 56, 56)
}

button:hover {
 transition: 90px
}
.toggleButton {
  border: none;
  background: none;
  position: absolute;
  right: 0;
  top: 50px;
  cursor: pointer;
}

.main-bg-light {
  background-color: bisque;

}

.main-bg-dark {
  background: #000;
}

.txt-color-dark {
  color: white
}

.txt-color-light {
  color: rgb(1, 18, 92);
}


.popup_open {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  margin: auto; 
  border: 1px black solid;
  border-radius: 20px;
  background-color: rgba(47, 84, 117, 0.647);
}
.popup-txt-dark {
  color: white;
}

.popup-txt-light {
  color: rgb(147, 200, 24);
}

.popup-btn-dark {
  color: white;
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

.popup-btn-light {
  color: black;
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}